{% if user.is_authenticated %}
    <div>
        <a>{{ user.username }}</a>
        <a href="{% url 'search_send' 0 %}">Send messages</a>
        <a href="{% url 'search_received' 0 %}">Received messages</a>
        <a href="{% url 'create_message' %}">Create message</a>
        <a href="{% url 'search_templates' 0 %}">Templates</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

{% else %}
    <div>
        <a href="{% url 'login_view' %}">Login</a>
        <a href="{% url 'registration' %}">Registration</a>
    </div>
{% endif %}