{% include "mymail/base.html" %}

{% block content %}
<div class="container mt-2 ml-2">

{% if user.is_authenticated %}
    <form method="post" action="{% url 'create_message' %}"> {% csrf_token %}
        <div class="form-group">
            <label class="h5 label" for="id_receivers">{{form.receivers.label}}</label>
            {{form.receivers}}
        </div>

        <div class="form-group ">
            <label class="h5 label" for="id_emails">{{form.emails.label}}</label>
            {{ form.emails }}
        </div>

        <div class="form-group row">
            <label class="h5 col-sm-3 col-form-label" for="id_title">{{form.title.label}}:</label>
            <div class="col-sm-9">
                {{ form.title }}
            </div>
        </div>

        <div class="form-group row">
            <label class="h5 col-sm-3 col-form-label" for="id_text">{{form.text.label}}:</label>
            <div class="col-sm-9">
                {{ form.text }}
            </div>
        </div>

        <div class="form-group row">
            <label class="h5 col-3 col-form-label" for="id_send_date">{{form.send_date.label}}:</label>
            <div class="col-9">
                {{form.send_date}}
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>
        {%if form.errors%}
        <div class="alert alert-danger" role="alert">
            {{form.errors}}
        </div>
        {%endif%}
        {% if template %}
        <form action="{% url 'delete' message.url %}" method="post">
            {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">
        {% endif %}

        <input type="hidden" name="next" value="{{ next }}"/>

    </form>

{% else %}
    <h1 class="ml-5 center text-center">You are not authenticated</h1>
{% endif %}

</div>
{% endblock %}