{%  if form.errors %}
    <p>Your password or username didn't match</p>
{% endif %}
{% if user.is_authenticated %}
    <p>you are authenticated</p>
    <a href="/">Home</a>
{% else %}
    <form method="post" action="{% url 'login_view' %}"> {% csrf_token %}
            <div>
                <td>{{ form.username.label_tag }}</td><br>
                <td>{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td><br>
                <td>{{ form.password }}</td>
            </div>
            <div>
                <input type="submit" value="login" />
            </div>
        </form>
{% endif %}