{% include "mymail/base.html" %}

{% block content %}

<div class="container ml-2 mt-2">

{% if message %}
        <p class="h4"> Message detail info</p>
        <hr>
        <p><strong>Sender: </strong>{{ message.sender }}</p>
        <p class="h8">
            {% if message.send_date %}
                {{ message.send_date }}
            {% else %}
                {{ message.pub_date }}
            {% endif %}
        </p>
        <br>

        <p class="h4"><strong>Receivers:</strong></p>
        <div class="ml-5">
            {% for receiver in message.receivers.all %}
                <p class="h6">{{ receiver.user.username }}</p>
            {% endfor %}
            {% for email in message.emails %}
                <p class="h6">{{ email }}</p>
            {% endfor %}
            <p class="h6">{{message.external_receivers}}</p>
        </div>
        <br>

        <p class="h3">{{ message.title }}</p>
        <br>
        <p class="h5 ml-5">{{ message.text }}</p>
        <br>

        <form action="{% url 'delete' message.url %}" method="post">
            {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete">

    </form>
{% endif %}

</div>
{% endblock %}