{% include "mymail/base.html" %}

{% block content %}

<div class="container ml-2">

{% if user.is_authenticated %}
    <p class="h2 mt-2">{{what_search}}</p>
    {% if messages %}
        <ul class="list-group list-group-flush">
            {% for message in messages %}
                <li class="list-group-item">
                    {% if template %}
                        <a style="display:block" href="{% url 'create_from_template' message.url %}" class="text-decoration-none">
                            <div class="h4 text-primary">
                                <div>
                                    {%if message.title%}
                                        {{ message.title　}}
                                    {%else%}
                                        No title
                                    {%endif%}
                                </div>
                                <div class="h6 text-secondary">
                                    {{message.text|slice:":70" }}
                                </div>
                            </div>

                        </a>

                    {% else %}
                        <a style="display:block" href="{% url 'read_message' message.url %}">
                            <div class="h4 text-primary">
                                <div>
                                    {%if message.title%}
                                        {{ message.title　}}
                                    {%else%}
                                        No title
                                    {%endif%}
                                </div>
                                <div class="h6 text-secondary">
                                    {{message.text|slice:":70" }}
                                </div>
                            </div>

                        </a>
                    {% endif %}
                </li>
            {% endfor %}

            {% if prev_page > -1%}
                <a href="{% url 'search_received' prev_page %}">previous</a>
            {% endif %}
            {% if more%}
                <a href="{% url 'search_received' next_page %}">next</a>
            {% endif %}
        </ul>

    {% else %}
        <p>No messages.</p>
    {% endif %}
{% else %}
    <h1 class="ml-5 center text-center">You are not authenticated</h1>
{% endif %}

</div>

{% endblock %}
