{% include "mymail/base.html" %}

{% block content %}

<div class="container ml-2">
{% load mymail_extras %}

{% if user.is_authenticated %}
    <p class="h2 mt-2">{{what_search}}</p>
    {% if messages %}
        <ul class="list-group list-group-flush">
            {% for message in messages %}
                <li class="list-group-item">
                    {% if what_search == "Templates" %}
                        <a style="display:block" href="{% url 'create_from_template' message.url %}" class="text-decoration-none">
                            <div class="h4 text-primary">
                                <div>
                                    {%if message.title%}
                                        {{ message.title　}}
                                    {%else%}
                                        No title
                                    {%endif%}
                                </div>
                                <div class="h6 text-secondary">
                                    {{message.text|slice:":70" }}
                                </div>
                            </div>

                        </a>
                    {% elif what_search == "Received messages" %}
                       {% if message.read %}
                            <a style="display:block" href="{% url 'read_message' message.message.url %}">
                                    <div class="h4 text-secondary">
                                        <div>
                                            {%if message.message.title%}
                                                {{ message.message.title　}}
                                            {%else%}
                                                No title
                                            {%endif%}
                                        </div>
                                        <div class="h6 text-secondary text-truncate">
                                            {{message.message.text}}
                                        </div>
                                    </div>
                                </a>
                       {% else %}
                            <a style="display:block" href="{% url 'read_message' message.message.url %}">
                                    <div class="h4 text-primary">
                                        <div>
                                            {%if message.message.title%}
                                                {{ message.message.title　}}
                                            {%else%}
                                                No title
                                            {%endif%}
                                        </div>
                                        <div class="h6 text-secondary text-truncate">
                                            {{message.message.text}}
                                        </div>
                                    </div>
                                </a>
                       {% endif %}
                    {% else %}
                        <a style="display:block" href="{% url 'read_message' message.url %}">
                            <div class="h4 text-primary">
                                <div>
                                    {%if message.title%}
                                        {{ message.title　}}
                                    {%else%}
                                        No title
                                    {%endif%}
                                </div>
                                <div class="h6 text-secondary text-truncate">
                                    {{message.text}}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if  page|subtract:1 > -1%}
                    <li class="page-item"><a class="page-link" href="{{ page|subtract:1}}">{{ page|subtract:1}}</a></li>
                    {% endif %}
                    {% if more%}
                    <li class="page-item"><a class="page-link" href="{{ page|add:1}}">{{ page|add:1}}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </ul>

    {% else %}
        <p>No messages.</p>
    {% endif %}
{% else %}
    <h1 class="ml-5 center text-center">You are not authenticated</h1>
{% endif %}

</div>

{% endblock %}
